tools/xtensa-esp32-elf
tools/xtensa-esp32s2-elf
tools/xtensa-esp32s3-elf
tools/riscv32-esp-elf
tools/dist
tools/esptool
tools/esptool.exe
tools/mkspiffs
tools/mklittlefs
tools/mkfatfs.exe
tools/openocd-esp32

# Ignore editor backup files and macOS system metadata
.DS_Store
.*.swp
.*.swo
*~

# Ignore build folder
/build
 
# Ignore files built by Visual Studio/Visual Micro
[Dd]ebug/
[Rr]elease/
.vs/
__vm/
*.vcxproj*
.vscode/
platform.sloeber.txt
boards.sloeber.txt

# Ignore docs build (Sphinx)
docs/build
docs/source/_build
__pycache__/
_build/

# Test log files
*.log
debug.cfg
debug.svd
debug_custom.json
