[submodule "libraries/AzureIoT"]
	path = libraries/AzureIoT
	url = https://github.com/VSChina/ESP32_AzureIoT_Arduino
[submodule "libraries/LITTLEFS"]
	path = libraries/LITTLEFS
	url = https://github.com/lorol/LITTLEFS.git
