tools/
.vale/
docs/
tests/

.DS_Store
#Ignore files built by Visual Studio/Visual Micro
[Dd]ebug*/
[Rr]elease*/
!release-staging/
!release-staging/**
# Sizes baselines per branch (size_test/master, size_test/release_v4.0.x, ...)
!size_test/*/
.vs/
__vm/
*.vcxproj*
