## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/05/15 00:34:56 UTC

[Commit](https://github.com/espressif/arduino-esp32/commit/5efdcdec3aefb756e55e226458c5353ac2a55b8e) / [Build and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/25893496018) / [Hardware and Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/25893549356) / [Results processing](https://github.com/espressif/arduino-esp32/actions/runs/25893615745)

[Test results](https://github.com/espressif/arduino-esp32/runs/76102018318)
