## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/05/14 00:47:42 UTC

[Commit](https://github.com/espressif/arduino-esp32/commit/2efeb1edc957d89741d270f315dfabe9d5040b9a) / [Build and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/25834489400) / [Hardware and Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/25834563972) / [Results processing](https://github.com/espressif/arduino-esp32/actions/runs/25834942546)

[Test results](https://github.com/espressif/arduino-esp32/runs/75907905921)
