## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/05/16 00:32:53 UTC

[Commit](https://github.com/espressif/arduino-esp32/commit/5efdcdec3aefb756e55e226458c5353ac2a55b8e) / [Build and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/25947842105) / [Hardware and Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/25947885845) / [Results processing](https://github.com/espressif/arduino-esp32/actions/runs/25947943491)

[Test results](https://github.com/espressif/arduino-esp32/runs/76279894562)
