## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2025/09/25 00:24:09

[Commit](https://github.com/espressif/arduino-esp32/commit/ef453a58328c5ed2313da0df7b176573ec0e4ba3) / [Build, Hardware and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/17992943950) / [Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/17993135700)
