## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests

### Performance Tests

- **coremark**
  - ESP32 - Error - :fire:
  - ESP32-C3 - Error - :fire:
  - ESP32-C5 - Error - :fire:
  - ESP32-C6 - Error - :fire:
  - ESP32-H2 - Error - :fire:
  - ESP32-P4 - Error - :fire:
  - ESP32-S2 - Error - :fire:
  - ESP32-S3 - Error - :fire:

- **fibonacci**
  - ESP32 - Error - :fire:
  - ESP32-C3 - Error - :fire:
  - ESP32-C5 - Error - :fire:
  - ESP32-C6 - Error - :fire:
  - ESP32-H2 - Error - :fire:
  - ESP32-P4 - Error - :fire:
  - ESP32-S2 - Error - :fire:
  - ESP32-S3 - Error - :fire:

- **linpack_double**
  - ESP32 - Error - :fire:
  - ESP32-C3 - Error - :fire:
  - ESP32-C5 - Error - :fire:
  - ESP32-C6 - Error - :fire:
  - ESP32-H2 - Error - :fire:
  - ESP32-P4 - Error - :fire:
  - ESP32-S2 - Error - :fire:
  - ESP32-S3 - Error - :fire:

- **linpack_float**
  - ESP32 - Error - :fire:
  - ESP32-C3 - Error - :fire:
  - ESP32-C5 - Error - :fire:
  - ESP32-C6 - Error - :fire:
  - ESP32-H2 - Error - :fire:
  - ESP32-P4 - Error - :fire:
  - ESP32-S2 - Error - :fire:
  - ESP32-S3 - Error - :fire:

- **psramspeed**
  - ESP32 - Error - :fire:
  - ESP32-C5 - Error - :fire:
  - ESP32-P4 - Error - :fire:
  - ESP32-S2 - Error - :fire:
  - ESP32-S3 - Error - :fire:

- **ramspeed**
  - ESP32 - Error - :fire:
  - ESP32-C3 - Error - :fire:
  - ESP32-C5 - Error - :fire:
  - ESP32-C6 - Error - :fire:
  - ESP32-H2 - Error - :fire:
  - ESP32-P4 - Error - :fire:
  - ESP32-S2 - Error - :fire:
  - ESP32-S3 - Error - :fire:

- **superpi**
  - ESP32 - Error - :fire:
  - ESP32-C3 - Error - :fire:
  - ESP32-C5 - Error - :fire:
  - ESP32-C6 - Error - :fire:
  - ESP32-H2 - Error - :fire:
  - ESP32-P4 - Error - :fire:
  - ESP32-S2 - Error - :fire:
  - ESP32-S3 - Error - :fire:



Generated on: 2026/04/28 13:06:28

[Commit](https://github.com/espressif/arduino-esp32/commit/332a9acffd7bc57f6d454985dc4ea4fb5d2a68c2) / [Build and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/25052632409) / [Hardware and Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/25053023816) / [Results processing](https://github.com/espressif/arduino-esp32/actions/runs/25054135797)

[Test results](https://github.com/espressif/arduino-esp32/runs/73391193117)
