## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/05/18 00:41:04 UTC

[Commit](https://github.com/espressif/arduino-esp32/commit/5efdcdec3aefb756e55e226458c5353ac2a55b8e) / [Build and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/26007256823) / [Hardware and Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/26007309369) / [Results processing](https://github.com/espressif/arduino-esp32/actions/runs/26007486242)

[Test results](https://github.com/espressif/arduino-esp32/runs/76441584112)
