## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/02/08 00:22:07

[Commit](https://github.com/espressif/arduino-esp32/commit/6cfa93f4b4e2c0e3cf492e4a45780bfbe757fcd4) / [Build and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/21789273890) / [Hardware and Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/21789288585) / [Results processing](https://github.com/espressif/arduino-esp32/actions/runs/21789298791)

[Test results](https://github.com/espressif/arduino-esp32/runs/62865780327)
