cryptography==46.0.5
--only-binary cryptography
pytest-cov==5.0.0
pytest-embedded-serial-esp==2.5.0
pytest-embedded-arduino==2.5.0
pytest-embedded-wokwi==2.5.0
pytest-embedded-qemu==2.5.0
esptool==5.1.0
