cryptography==44.0.1
--only-binary cryptography
pytest-cov==5.0.0
pytest-embedded-serial-esp==1.12.0
pytest-embedded-arduino==1.12.0
pytest-embedded-wokwi==1.12.0
pytest-embedded-qemu==1.12.0
esptool==4.8.1
