cryptography==44.0.1
--only-binary cryptography
pytest-cov==5.0.0
pytest-embedded-serial-esp==2.1.2
pytest-embedded-arduino==2.1.2
pytest-embedded-wokwi==2.1.2
pytest-embedded-qemu==2.1.2
esptool==5.1.0
