## Runtime Tests Report

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests

#### Hardware

Test|ESP32-C3|ESP32-C6|ESP32-H2|ESP32-P4|ESP32-S2|ESP32-S3
-|:-:|:-:|:-:|:-:|:-:|:-:
hello_world|1/1 :white_check_mark:|Error :fire:|Error :fire:|1/1 :white_check_mark:|Error :fire:|1/1 :white_check_mark:
nvs|2/2 :white_check_mark:|Error :fire:|Error :fire:|4/4 :white_check_mark:|Error :fire:|3/3 :white_check_mark:
periman|1/1 :white_check_mark:|Error :fire:|Error :fire:|-|Error :fire:|1/1 :white_check_mark:
timer|4/4 :white_check_mark:|Error :fire:|Error :fire:|4/4 :white_check_mark:|Error :fire:|4/4 :white_check_mark:
uart|10/10 :white_check_mark:|Error :fire:|Error :fire:|10/10 :white_check_mark:|Error :fire:|10/10 :white_check_mark:
unity|2/2 :white_check_mark:|Error :fire:|Error :fire:|2/2 :white_check_mark:|Error :fire:|2/2 :white_check_mark:
democfg|-|Error :fire:|-|-|Error :fire:|1/1 :white_check_mark:
psram|-|-|-|8/8 :white_check_mark:|Error :fire:|10/10 :white_check_mark:
touch|-|-|-|3/3 :white_check_mark:|Error :fire:|3/3 :white_check_mark:


Generated on: 2025/05/26 02:30:56

[Build, Hardware and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/15233333369) / [Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/15244876281)
