## Runtime Tests Report

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests



Generated on: 2025/06/10 02:33:14

[Build, Hardware and QEMU run](https://github.com/espressif/arduino-esp32/actions/runs/15549165094) / [Wokwi run](https://github.com/espressif/arduino-esp32/actions/runs/15549178673)
