esp-docs==1.4.*
sphinx-copybutton==0.5.0
sphinx-tabs==3.2.0
sphinxcontrib-actdiag==3.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-blockdiag==3.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-seqdiag==3.0.0
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-svg2pdfconverter==1.2.0
sphinxcontrib-wavedrom==3.0.4
