name: Build tests

on:
  workflow_call:
    inputs:
      type:
        type: string
        description: "Type of tests to build"
        required: true
      chip:
        type: string
        description: "Chip to build tests for"
        required: true

jobs:
  build-tests:
    name: Build ${{ inputs.type }} tests for ${{ inputs.chip }}
    runs-on: ubuntu-latest
    env:
      id: ${{ github.event.pull_request.number || github.ref }}-${{ github.event.pull_request.head.sha || github.sha }}-${{ inputs.chip }}-${{ inputs.type }}
    steps:
      - name: Check if already built
        id: cache-build-binaries
        if: github.event.pull_request.number != null
        uses: actions/cache/restore@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          key: test-${{ env.id }}-bin
          path: |
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.bin
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.elf
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.json
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/sdkconfig

      - name: Evaluate if tests should be built
        id: check-build
        run: |
          cache_exists=${{ steps.cache-build-binaries.outputs.cache-hit == 'true' }}
          enabled=true

          if [[ $cache_exists == 'true' ]]; then
            echo "Already built, skipping"
            enabled=false
          fi

          echo "enabled=$enabled" >> $GITHUB_OUTPUT

      - name: Checkout user repository
        if: ${{ steps.check-build.outputs.enabled == 'true' }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get libs cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        if: ${{ steps.check-build.outputs.enabled == 'true' }}
        with:
          key: libs-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('package/package_esp32_index.template.json', 'tools/get.py') }}
          path: |
            ./tools/dist
            ./tools/esp32-arduino-libs
            ./tools/esptool
            ./tools/mk*
            ./tools/openocd-esp32
            ./tools/riscv32-*
            ./tools/xtensa-*

      - name: Build sketches
        if: ${{ steps.check-build.outputs.enabled == 'true' }}
        run: |
          bash .github/scripts/tests_build.sh -c -type ${{ inputs.type }} -t ${{ inputs.chip }}

      - name: Upload ${{ inputs.chip }} ${{ inputs.type }} binaries as cache
        uses: actions/cache/save@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        if: steps.check-build.outputs.enabled == 'true' && github.event.pull_request.number != null
        with:
          key: test-${{ env.id }}-bin
          path: |
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.bin
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.elf
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.json
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/sdkconfig

      - name: Upload ${{ inputs.chip }} ${{ inputs.type }} binaries as artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test-bin-${{ inputs.chip }}-${{ inputs.type }}
          overwrite: true
          path: |
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.bin
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.elf
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/*.json
            ~/.arduino/tests/${{ inputs.chip }}/**/build*.tmp/sdkconfig
